#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>


/ {
    combos {
        compatible = "zmk,combos";
        
        // Open apps with alfred
        combo_q {
            bindings = <&bt BT_CLR>;
            key-positions = <0 1 6>;
        };
        // Open apps with alfred
        combo_w {
            bindings = <&kp LS(W)>;
            key-positions = <1 2 8>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     A     |     B     |     C     |    H     |     I     |     J     |
            // |     D     |     E     |     F     |    K     |     L     |     M     |
            // |           |           |     G     |    N     |           |           |

            bindings = <
                &kp C_PREV  &kp C_PP  &kp C_NEXT    &kp H    &kp I    &kp J
                &kp LEFT    &kp DOWN  &kp RIGHT     &kp K    &kp L    &kp M
                                      &kp C_MUTE    &kp N
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        hardware_layer {
            bindings = <
                &kp Q    &kp R         &kp S         &kp V     &kp W         &kp X
                &bt BT_SEL 0   &bt BT_CLR    &mo 1    &mo 1    &bt BT_CLR    &bt BT_SEL 0
                                       &kp U         &kp Z
            >;
        };
    };
 };