#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>


/ {
    combos {
        compatible = "zmk,combos";

        // Clear bluetooth
        combo_bluetooth_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <0 1 6>;
        };
        // arrow up
        combo_arrow_up {
            bindings = <&kp UP>;
            key-positions = <1 7>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |    prev   | play/pause |    next   |    H     |     I     |     J     |
            // |    left   |    down    |   right   |    K     |     L     |     M     |
            // |           |            |    mute   |    N     |           |           |

            bindings = <
                &kp C_PREV  &kp C_PP  &kp C_NEXT    &kp H    &kp I    &kp J
                &kp LEFT    &kp DOWN  &kp RIGHT     &kp K    &kp L    &kp M
                                      &kp C_MUTE    &kp N
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
 };